In [2]:
import pandas as pd

df = pd.read_csv("sales_data_1.csv")

df.head()

,Date,Firm bought from,Buying price,Customer,Selling price,Quantity sold
0,21/08/23,Vendor6,72.11,Customer7,91.58,44
1,21/08/23,Vendor4,75.08,Customer7,83.71,17
2,21/08/23,Vendor7,83.93,Customer2,103.76,15
3,21/08/23,Vendor7,52.01,Customer3,64.53,7
4,21/08/23,Vendor2,98.91,Customer5,140.92,1

In [3]:
overall_gross_margin = (df["Selling price"] - df["Buying price"]).sum()

print("1. Overall Gross Margin:", overall_gross_margin)

1. Overall Gross Margin: 1207.1999999999998

In [4]:

vendor_profit = df.groupby("Firm bought from")["Selling price"].sum() - df.groupby("Firm bought from")["Buying price"].sum()
most_profitable_vendor = vendor_profit.idxmax()
print("2. Most Profitable Vendor:", most_profitable_vendor)

2. Most Profitable Vendor: Vendor7

In [5]:

customer_profit = df.groupby("Customer")["Selling price"].sum() - df.groupby("Customer")["Buying price"].sum()
least_profitable_customer = customer_profit.idxmin()
print("3. Least Profitable Customer:", least_profitable_customer)

3. Least Profitable Customer: Customer9

In [6]:

df["Date"] = pd.to_datetime(df["Date"])
df["Day of Week"] = df["Date"].dt.day_name()
day_profit = df.groupby("Day of Week")["Selling price"].sum() - df.groupby("Day of Week")["Buying price"].sum()
most_profitable_day = day_profit.idxmax()
print("4. Most Profitable Day of the Week:", most_profitable_day)

4. Most Profitable Day of the Week: Monday

In [7]:

least_profitable_day = day_profit.idxmin()
print("5. Least Profitable Day of the Week:", least_profitable_day)

5. Least Profitable Day of the Week: Thursday